<ion-tabs (ionTabsDidChange)="getSelected($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contacts">
      <ion-icon
        [name]="selectedTab==='contacts'?'person-sharp':'person-outline'"
      ></ion-icon>
      <ion-label [ngClass]="selectedTab==='contacts'?'bold-text':''"
        >Contacts</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon
        [name]="selectedTab==='settings'?'settings-sharp':'settings-outline'"
      ></ion-icon>
      <ion-label [ngClass]="selectedTab==='settings'?'bold-text':''"
        >Settings</ion-label
      >
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
